h1 {
  color: pink;
  text-align: center;
  font-size: 4em;
}
h1:hover {
  color: black;
  font-size: 3em;
  cursor: default;
}
h1::selection {
  background: transparent;
  }

a:link {
  text-decoration: none;
  color: pink;
  }
a:visited {
  text-decoration: line-through;
  color: pink;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
